body {
    font-family: Arial, sans-serif;
    background-color: #dedede;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promptRequest {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: cyan;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
}

.promptResponse {
    width: 100%;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.rectangle {
    width: 100%;
    max-width: 600px;
    height: 75px;
    background-color: purple;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.circleTop{
    width: 75%;
    max-width: 400px;
    height: 150px;
    margin-top: 10px;
    background-color: red;
    clip-path: circle(6rem at bottom center);
}

.circleBottom{
    width: 75%;
    max-width: 400px;
    height: 150px;
    background-color: blue;
    clip-path: circle(6rem at top center);
}

#addPromptForm {
    margin-top: 10px;
    width: 100%;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

#addPromptForm h2 {
    margin-left: 30%;
    font-size: 25px;
}

#title, #categorie, #text {
    padding: 10px;
    font-size: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.addPrompt {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: cyan;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
}